[submodule "nvim"]
	path = nvim
	url = https://github.com/soks-kat/nvim-config.git
[submodule "zebar/nullptr-bar"]
	path = zebar/nullptr-bar
	url = https://github.com/NullSeile/nullptr-bar.git
[submodule "himawari-wallpaper"]
	path = himawari-wallpaper
	url = https://github.com/NullSeile/himawari-wallpaper.git
