[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=/home/kai/.cargo/bin/kanata -c /home/kai/.config/kanata/kanataKai.kdb -c /home/kai/dev/dotfiles/kanata/kanata.kdb

Restart=never

[Install]
WantedBy=default.target
